<a href="https://colab.research.google.com/github/K-R-Reddy/MachineLearning/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

##1) Create a Pandas DataFrame from the following dictionary:
data = {
 'Name': ['Alice', 'Bob', 'Carol'],<br>
 'Age': [24, 27, 22],<br>
 'Salary': [50000, 55000, 48000]<br>
}
### Add a new column called Bonus which is 10% of the salary.

In [7]:
data={'Name':['Alice','Bob','Carol'],
      'Age':[22,27,22],
      'Salary':[50000,55000,48000]}
df1=pd.DataFrame(data)
df1['Bonus']=0.1*df1['Salary']
print(df1)

    Name  Age  Salary   Bonus
0  Alice   22   50000  5000.0
1    Bob   27   55000  5500.0
2  Carol   22   48000  4800.0

##2) Given the DataFrame created in the above question:

###a) Display the first two rows.

In [4]:
df1.head(2)

    Name  Age  Salary   Bonus
0  Alice   22   50000  5000.0
1    Bob   27   55000  5500.0

###b) Compute the mean salary.

In [5]:
print("The Mean Salary :")
df1['Salary'].mean()

The Mean Salary :

51000.0

##3) Using the same DataFrame:

###a) Extract all rows where the Age is greater than 25.

In [11]:
a1=df1['Age']>25
print(a1)

0    False
1     True
2    False
Name: Age, dtype: bool

###b) Filter out rows where the Salary is less than 50000.

##4. Create the following DataFrame:
data = {<br>
 'A': [1, 2, None, 4],<br>
 'B': [None, 2, 3, None],<br>
 'C': [1, 2, 3, 4]<br>
}<br>
df = pd.DataFrame(data)

###a) Fill missing values in column A with the mean of the column.

###b) Drop rows where all values are None.

##5) Create a DataFrame for employees:
data = {<br>
 'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],<br>
 'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],<br>
 'Salary': [50000, 45000, 60000, 65000, 70000]<br>
}<br>
### Group the data by Department and compute the total and mean salary for each department.

##6) Given two DataFrames:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})<br>
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
### Perform an inner join on the ID column.

##7) Given a small dataset, clean and display basic statistics using Pandas.

##8) Small EDA task
### Load the Titanic dataset (titanic.csv) into a Pandas DataFrame. Perform the following tasks:

###a) Display the number of missing values in each column.

###b) Find the average age of passengers.

###c) Create a bar plot to show the survival rate based on gender.

##9) Data Transformation
### Load a dataset containing daily temperatures and dates. Perform the following:

###a) Convert the date column into a DateTime object.

###b) Create a new column that categorizes temperatures into High, Medium, or Low.